<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Peugeot Site</title>
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link th:href="@{https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap}" rel="stylesheet">
</head>
<body>
<header>
    <nav id="header" class="site-header sticky-top py-1">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
            <a class="py-2" th:href="@{/}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="d-block mx-auto">
                    <circle cx="12" cy="12" r="10"></circle>
                    <line x1="14.31" y1="8" x2="20.05" y2="17.94"></line>
                    <line x1="9.69" y1="8" x2="21.17" y2="8"></line>
                    <line x1="7.38" y1="12" x2="13.12" y2="2.06"></line>
                    <line x1="9.69" y1="16" x2="3.95" y2="6.06"></line>
                    <line x1="14.31" y1="16" x2="2.83" y2="16"></line>
                    <line x1="16.62" y1="12" x2="10.88" y2="21.94"></line>
                </svg>
            </a>
            <a class="py-2 d-none d-md-inline-block" th:href="@{/}">Новости</a>
            <a class="py-2 d-none d-md-inline-block" th:href="@{/museum}">Виртуальный музей</a>
            <a class="py-2 d-none d-md-inline-block" th:href="@{/models}">Католог моделей</a>
            <a class="py-2 d-none d-md-inline-block" th:href="@{/history}">История Peugeot</a>
            <a class="py-2 d-none d-md-inline-block" th:href="@{/about}">О сайте</a>
            <!--            <a class="py-2 d-none d-md-inline-block" href="#">Pricing</a>-->
            <!--            <a class="py-2 d-none d-md-inline-block" href="#">Cart</a>-->
        </div>
    </nav>
</header>
<div id="header_history" class="display-5">
    <p>История Peugeot</p>
</div>
<div id="subheader_history" class="text-center">
    <div class="display-5">
        <p>Рассвет более чем 200-летней эволюции.</p>
    </div>
</div>
<div id="history_text" class="text-center">
    <p>
        История этого французского автопроизводителя — это история новаторских разработок, инженерных прорывов и
        технологических новшеств. Это история о выдающихся успехах в автоспорте и гоночных дорожных автомобилях.
    </p>
    <p>
        Peugeot — один из крупнейших производителей автомобилей в Европе, существующий с 1810 года. Конечно, тогда они
        не были производителями автомобилей. Фактически, они начали с производства кофемолок и велосипедов.
    </p>
    <p>
        Семья Пёжо первые упоминание о которых встречаются в летописях в XV веке, проживала в регионе Монбельяр и была
        глубоко привязана к этой сдержанной и трудолюбивой
        провинции. Регион традиций и регион обменов. Перекресток между Францией, Швейцарией и Германией,
        естественно, был открыт для новых идей и новых продуктов.
    </p>
    <p>
        Жан-Пьер Пёжо работал в легкой промышленности. Так, в
        1810 году, заметив, что промышленная революция будет необратимой, двое его наследников решили превратить
        семейную мельницу в литейную. Это послужило началом грандиозного
        приключения Peugeot. Сталелитейный завод братьев Пёжо начали производить часовые пружины, пилы, мельницы для
        кофе, соли и перца, крючки для корсетов, кольца для кринолин и многое другое.
    </p>
    <!--    <img th:src="@{css/images/reklama.png}">-->
    <p>
        Дела шли очень даже неплохо, и к концу XIX века на предприятиях компании
        трудилось уже более тысячи человек, а у потребителей продукция снискала немалую популярность, в первую очередь
        благодаря высокому качеству. Однако братья Пёжо даже не могли себе представить, во что со временем превратится
        их предпрятие…
    </p>

    <p>
        Но не будем забегать вперёд.
    </p>
    <p>
        В 1849 году происходит переломное для династии Пёжо событие – рождение Армана Пёжо, представителя третьего
        поколения семьи, предопределившего будущее семейного бизнеса.
    </p>
    <img class="img_history" th:src="@{css/images/armand.png}">
    <p>
        В ноябре 1858 года Эмиль Пёжо получил патент на изображение льва
        в качестве товарного знака компании.
    </p>
    <img class="img_history" th:src="@{css/images/emblema_1858.png}">
    </p>
    <!--    В 1882 году Арман Пежо запустил производство велосипедов, которые-->
    <!--        пользовались популярностью у покупателей: до 1897 года компания выпустила более 16 000 экземпляров.-->


    <p>
        Внучатый племянник основателей, Арман, любопытный во всем, выдает себя за человека, которого ничто не может
        остановить. Молодой инженер с дипломом факультета
        искусств и мануфактур в Париже, он без колебаний отправился в Англию, страну промышленной революции.
    </p>
    <p>
        Во время стажировки в компании в Лидсе он знакомится со всеми аспектами будущих промышленных и экономических
        потрясений. С середины XIX века мир охватывает велосипедный бум и молодой Арман возвращается домой покоренным
        велосипедами. Вопреки совету Эжена, своего двоюродного брата, с которым он
        возглавляет семейную компанию, он в конечном итоге навязывает производство двухколесных транспортных средств на
        одном из заводов в Ду(Doubs).Братья создают свой первый, модный по тем временам так называемый "пенни-фартинг" –
        велосипед, у которого диаметр переднего колеса в пять раз больше диаметра заднего. Успех Le Grand Bi, как
        назвали братья свой велосипед, был огромным: уже к 1897 году уровень производства этого двухколесного
        транспортного средства превысил 16 тыс. экземпляров. Способствовали этому, конечно же, и гонки – на одном из
        велопробегов между городами Париж и Нант на дистанции в несколько сот километров первая пятерка победителей
        восседала исключительно на велосипедах производства братьев Пёжо.
    </p>
    <img class="img_history" th:src="@{css/images/grand_bi.png}">
    <p>
        В 1889 году компания вступила в новую эру своего развития – был выпущен первый автомобиль Peugeot. Он был
        разработан Арманом Пёжо совместно с Леоном Серполле, хорошо разбиравшимся в паровых двигателях. Трехколесный
        автомобиль получил название Serpollet-Peugeot.
    </p>
    <img class="img_history" th:src="@{css/images/serpollet_peugeot.png}">
    <p>
        Он дебютировал на Всемирной выставке в Париже в 1889 году. Сделав
        четыре экземпляра модели, Арман Пёжо понимает, что у паровых двигателей нет будущего. В сотрудничестве с
        Готлибом Даймлер он создает первый четырехколесный Peugeot с двигателем внутреннего сгорания объемом 563 куб.
        см.
        Модель Тип 2 введена в 1890 году. Его максимальная скорость составляла 20 км/ч.
    </p>
    <img class="img_history" th:src="@{css/images/type_2_peugeot.png}">
    <p>Автомобиль принес компании многочисленные заказы. В 1892 г. было изготовлено 29 единиц, в 1894 г. - 40, а в 1899
        г. - 300. В 1895 г. Пёжо, первый производитель автомобилей, начал использовать резиновые шины.
    </p>
    <p>
        Арман уже практически не интересуется "велосипедной" частью бизнеса, который по-прежнему официально ведет со
        своим двоюродным братом, а
        потому предлагает тому полностью переключиться на автомобили. Однако конфликты с семьей, абсолютно не
        верившей в этот новый способ передвижения, стали настолько острыми, что в 1896 году Арман обрел независимость.
        Он принимает решение зарегистрировать собственную компанию – Societe Anonyme des Automobiles Peugeot и
        построить завод для производства автомобилей.
    </p>
    <p>
        В этом же году Арман Пёжо создал Автомобильное общество Peugeot в Одинкуре. В том же году была зарегистрирована
        первая
        в истории автомобильная кража: машины марки исчезли из гаража барона Жюльена. Первый мотор собственной
        разработки мощностью 8 л.с. устанавливался на Type 15. Это был самый
        популярный автомобиль марки на рубеже веков. Каталог Peugeot 1899 года включает 15 моделей вместимостью от 2 до
        12 пассажиров и массой от 720 до 1250 кг.
    </p>
    <img class="img_history" th:src="@{css/images/type_15.png}">
    <p>
        Стоимость "четырехколесной продукции" в то время была, мягко говоря, немаленькой – за удовольствие стать
        счастливым обладателем автомобиля "от Пёжо" нужно было копить среднемесячную во Франции зарплату в течение пяти
        лет. Арман понимает, что важной составляющей коммерческого успеха своего предприятия должна стать массированная
        реклама, которой в то время идеально становилось участие в спортивных соревнованиях.
    </p>
    <p>
        И действительно,
        зарождавшиеся в то время автомобильные гонки привлекали массу народа, спонсоров и средств массовой информации…
        В 1893 году французская пресса переживала не самые лучшие времена. Чтобы освежить угасающий интерес читателей к
        своему изданию, главный редактор парижского Le Petit Journal объявляет о проведении беспрецедентного шоу –
        "соревнования в скорости, удобстве и безопасности между "безлошадными экипажами", движимых паром, электричеством
        и бензином". Это была знаменитая 126-километровая гонка между Парижем и Руаном, в которой приняли участие 14
        автомобилей с бензиновым двигателем и семь паромобилей.
        Арман выставил пять автомобилей Peugeot, которые абсолютно все успешно добрались до финиша, заняв второе, третье
        и пятые места, причем за рулем одного из автомобилей – победителей Peugeot сидел сам редактор издания –
        организатор гонок. Несмотря на то что первым к финишу пришел 20-сильный паромобиль De Dion-Bouton, его сочли
        чересчур громоздким. А вот "по совокупности качеств, отвечающих критериям самого простого и надежного
        автомобиля" лучшими в гонке были признаны автомобили друзей – Пёжо и Левассора, оснащенные 4-сильными
        двигателями. Кроме дополнительной славы и рекламы, они еще и разделили между собой пять тысяч франков.
        Бизнес Армана процветает. Начав с производства одного автомобиля в неделю силами 125 работников, его завод на
        рубеже XIX и XX веков выпускает 300 экземпляров в год, притом что во всей Франции реализуется не больше 1200
        машин.
    </p>
    <p>
        В каталоге компании можно найти до двух десятков моделей с различными кузовами, весом, вместимостью, мощностью
        двигателя, и даже коммерческий транспорт – грузовики!
    </p>
    <p>
        В то же время Эжен, вчерашний недоверчивый двоюродный брат, занялся автомобильным бизнесом под маркой Lion
        Peugeot. Понимая, что это соперничество может быть только бесплодным, Арман инициирует сближение с «людьми
        Льва». Смерть Эжена в 1907 году способствовала примирению, и с 1910 года автомобили Peugeot выпускались под той
        же эмблемой.
    </p>

    <p>
        Автомобили Peugeot одними из первых появились на улицах российских городов. Так, 4 марта 1896 года один
        экземпляр приобрел Михаил Шипов из Нижнего Новгорода. Это был пятиместный автомобиль с двигателем объемом 3,75
        литра. До этого Peugeot был известен российским покупателям своей мелкой металлопродукцией, а также велосипедами
        и мотоциклами.
    </p>
    <p>
        В начале 20 века Арман Пёжо поставил задачу разработать максимально простой и надежный «массовый» автомобиль для
        городской езды. Для реализации этого плана он нанял легендарного инженера и дизайнера Этторе Бугатти, вместе с
        которым создал Type 69 по прозвищу Bebe Peugeot. Новая модель дебютирует на Парижском автосалоне в 1904 году.
        Длина Bebe составляла всего 270 см, а вес — 350 кг. Одноцилиндровый двигатель мощностью 6 л.с. разгонял машину
        до 40 км/ч. Он получил карданную передачу вместо цепной, реечное рулевое управление и амортизатор, что вкупе с
        доступной ценой сделало его невероятно популярным.
    </p>
    <img class="img_history" th:src="@{css/images/type_69.png}">
    <p>
        Автомобили Peugeot продолжают успешно выступать в спортивных соревнованиях. Дважды они выигрывали гонки Гран-при
        Автомобильного клуба Франции. В 1913 году гонщик Жюль Гу занял первое место в гонке в Индианаполисе на
        автомобиле, оснащенном 7,4-литровым двигателем.
    </p>
    <p>
        В 1913 году Арман Пежо покидает дело. Однако, оставив свою компанию, он также оставил и частичку своей жизни в
        ней… Производя автомобили, он сделал для своей семьи больше, чем даже мог себе представить. История Пежо – это
        не просто история автомобилей. Именно рискованная затея Армана с "самоходными экипажами" позволила всей династии
        завоевать имя и репутацию на международном уровне во многих сферах деятельности. Однако именно амбициозная семья
        промышленников, в свое время напрочь не желавшая видеть очевидных фактов, не желала признавать это и сейчас.
        Арман все прекрасно понимал и ни на кого не держал обиды… Жить ему оставалось два года…
    </p>
    <p>
        Так как единтвенный сын Армана умер в 1896 году, руководство компанией перешло сыну его двоюродного брата Эжена
        - Роберу.
    </p>
    В 1916 и 1919 годах модели Peugeot с 4,9-литровыми двигателями
    также одержали победу на этой сложной американской трассе.
    </p>
    <p>
        Во время Первой мировой войны компания производила авиационные двигатели, боеприпасы и вооружение. После его
        завершения спрос был в основном на недорогие автомобили, выпуск которых решило руководство марки.
    </p>
    <p>
        В 1919 году на базе Bebe появилась экономичная малолитражка Quadrilette. Автомобиль был рассчитан на двух
        пассажиров и
        оснащался двигателем мощностью 4 л.c., в паре с трехступенчатой коробкой передач. Максимальная
        скорость автомобиля
        составляла 60 км/ч. Этот автомобиль несколько лет удерживал звание самого экономичного двухместного
        автомобиля в мире.
    </p>
    <img class="img_history" th:src="@{css/images/quadrilette.png}">
    <p>
        Бизнес расширился в течение 1920-х годов. Постепенно компания избавляется от велосипедного производства,
        сосредоточившись на автомобилях. В 1920 году появился Type 156 с бесклапанным двигателем, установивший несколько
        рекордов скорости.
    </p>
    <img class="img_history" th:src="@{css/images/type_156.png}">
    <p>
        С 1923 года все модели Peugeot оснащались тормозами на четыре колеса. Годовые объемы
        производства превышают 10 000 единиц.
    </p>
    <p>
        В 1929 году марка представляет на французском рынке самую дешевую модель — 201, получившую независимую переднюю
        подвеску. Этот автомобиль породил традицию называть модели трехзначными числами с нулем посередине. Вскоре
        начинается Великая депрессия, что приводит к падению продаж. Однако наличие в модельном ряду надежных недорогих
        автомобилей позволяет компании выживать.
    </p>
    <img class="img_history" th:src="@{css/images/peugeot_201.png}">
    <p>
        В 1933 году марка работает над созданием нового с точки зрения внешнего вида ряда автомобилей с ярким и
        впечатляющим дизайном. В 1934 году Peugeot выпустила 402 BL Éclipse Decapotable, первый кабриолет с убирающейся
        жесткой крышей.
    </p>
    <img class="img_history" th:src="@{css/images/peugeot_402_cabrio.png}" style="max-width: 75%">
    <p>
        Самыми яркими представителями нового семейства стали три модели – 202, 302 и 402, ставшие
        знаковыми.
    </p>
    <img class="img_history" th:src="@{css/images/peugeot_202.png}">
    <img class="img_history" th:src="@{css/images/peugeot_302.png}">
    <img class="img_history" th:src="@{css/images/peugeot_402.png}">
    <p>
        Peugeot 402 выпускался с 1935 по 1941 год, несмотря на нацистскую оккупацию Франции. Автомобиль получил
        эффектный стильный внешний вид с фарами, спрятанными под решеткой радиатора. Он оснащался автоматической
        коробкой передач и мог оснащаться дизельными двигателями.
    </p>
    <p>
        Во время Второй мировой войны Peugeot контролировался концерном Volkswagen. В это время выходит трехколесная
        модель ВЛВ с электродвигателем и четырьмя батареями. Это был первый в мире серийный электромобиль. При
        отступлении немцы забрали с собой часть оборудования. Кроме того, французский автопроизводитель пострадал от
        бомбардировок.
    </p>
    <img class="img_history" th:src="@{css/images/peugeot_vlv.png}" style="max-width: 75%">
    <p>
        Производство автомобилей возобновилось в 1946 году и возобновилось с модели 202. К концу года было выпущено 14
        000 единиц модели.
    </p>
    <p>
        В 1947 году дебютирует модель 203, укрепившаяся на рынке как надежный семейный автомобиль с реечным рулевым
        управлением и гидравлическими тормозами. Модель 203 установила рекорды продаж и производилась до 1960 года..
    </p>
    <img class="img_history" th:src="@{css/images/peugeot_203.png}">
    <P>
        Также большим успехом
        пользовалась 403 модель представленная в 1955
        году, над дизайном которой поработало известное ателье Pininfarina. Она получила 1,5-литровый
        мотор мощностью 65 л.с. Peugeot 403 был и, вероятно, наиболее
        известен тем, что им управлял телевизионный детектив Коломбо и к моменту прекращения производства в 1962 году
        было продано один миллион единиц.
    </p>
    <img class="img_history" th:src="@{css/images/peugeot_403.png}">
    <p>
        Peugeot начала продавать автомобили в Соединенных Штатах в 1958 году и представила модель 404 в 1960 году.
    </p>
    <img class="img_history" th:src="@{css/images/peugeot_404.png}">
    <p>
        Кроме
        того, в период с 1963 по 1968 год модель 404 четыре раза побеждала в Восточноафриканском ралли Safari Rally .
    </p>
    <img class="img_history" th:src="@{css/images/peugeot_404_rally.png}">
    <p>
        В 1972 году представлен самый короткий в мире седан с наклонной задней частью и поэтому схожий с хэтчбеком —
        модель 104. Это был экономичный, послушный и комфортабельный автомобиль, ставший самой маленькой в мире
        четырехдверной машиной.
    </p>
    <p>
        В 1974 году Peugeot купила 30% акций Citroen и полностью приобрела ее в 1975 году. Это произошло
        после того, как французское правительство выделило компании крупные суммы денег. У Citroen были финансовые
        проблемы, потому что он разработал слишком много моделей для своих финансовых ресурсов, таких как Citroen SM.
    </p>
    <p>
        PSA стала совместной материнской компанией, чтобы сохранить идентичность Peugeot и Citroen, а также разделить
        ресурсы. Примерно в это же время Peugeot некоторое время контролировала Maserati , но избавилась от нее в 1975
        году.
    </p>
    <p>
        В 1978 году Peugeot приобрела европейское подразделение Chrysler, и весь модельный ряд был продан под
        возрожденным значком Talbot. Однако позже в 1987 году легковые автомобили марки Talbot были отложены на полку.
    </p>
    <p>
        В 1983 году Peugeot приступает к разработке модели 205, которая впоследствии становится очень популярной и, по
        мнению многих, спасает автокомпанию от финансовых проблем, вызванных слияниями и поглощениями последних лет. Это
        был супермини, имевший огромный успех. Он часто был самым продаваемым автомобилем во Франции и был очень
        популярен в других регионах Европы, включая Великобританию. Продажи в Великобритании регулярно превышали 50 000
        в год в 1980-х годах.
    </p>
    <img class="img_history" th:src="@{css/images/peugeot_205.png}">
    <p>
        Позднее появилась версия 205 GTi с 1,6- и 1,9-литровым моторами, которая стала
        бестселлером во всем мире. Она оснащалась спортивной подвеской, надежной системой рулевого управления. Малый вес
        делал ее маневренной и предсказуемой. Производство 205 модели было прекращено в 1991 году.
        Издание CAR Magazine в 1990 году назвало Peugeot 205 «Автомобилем десятилетия».
    </p>
    <img class="img_history" th:src="@{css/images/peugeot_205_gti.png}">
    <p>
        В 1987 году был представлен Peugeot 405, который должен был составить конкуренцию Ford Sierra. Он имел успех и
        был признан
        европейским автомобилем года. Модель 405 была седаном, и по всему миру было продано около 2,5 миллионов таких
        автомобилей.
    </p>
    <img class="img_history" th:src="@{css/images/peugeot_405.png}">
    <p>
        В 1995-м на рынок выходит еще одна успешная модель — 406, разработанная совместно с Citroen и Pininfarina.
        Помимо изящной внешности, она оснащалась весьма эффективными дизельными моторами, которые сыграли свою роль в
        популярности автомобиля. Так же не маловажным поводом для успеха этой модели, послужил фильм "Такси" Люка
        Бессона вышедший на экраны в 1998 году.
    </p>
    <img class="img_history" th:src="@{css/images/peugeot_406.png}">
    <p>
        В 1998 году на Парижском салоне дебютировала Peugeot 206, которая стала
        преемницей 205 и во многом повторила ее успех.
    </p>
    <img class="img_history" th:src="@{css/images/peugeot_206.png}">
    <p>
        Подводя итоги, можно сказать, что Peugeot не любит толкать «свою» клиентуру больше, чем следовать моде,
        компания всегда будет в авангарде модернизма. Об этом свидетельствуют модели с аэродинамическим кузовом 1930-х
        годов, как и первые работы над дизельными двигателями, предпринятые в то же время. В Peugeot инновации долгое
        время будут сочетаться с осмотрительностью.
</p>
    <p>
        Настроение, которое сохранялось на протяжении поколений и даже спустя долгое время после того, как компания
        стала акционерным обществом. Поглощение европейских дочерних компаний Chrysler и неудачная авантюра Talbot
        несколько запятнали прекрасный имидж и солидность компании на заре 1980-х, но огромный успех модели 205 и
        глубокая реструктуризация группы, предпринятая очень харизматичным и неоднозначным Жаком Кальве вернет Peugeot
        на путь успеха. Вероятно, на многие десятилетия, с приходом за штурвал Жан-Мартена Фольца, который после
        успешных запусков 607 и 206 CC еще больше наложит свой отпечаток на будущие модели.
    </p>
</div>
<footer id="footer" class="footer">
    <div class="container-fluid">
        <p class="col-md-4 mb-0 text-muted">©2022 Все права защищены. </p>
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        </a>
        <!--            <ul class="nav nav-pills">-->
        <!--                <li class="nav-item"><a href="#" class="nav-link" aria-current="page">Главная</a></li>-->
        <!--                <li class="nav-item"><a href="#" class="nav-link">Обо мне</a></li>-->
        <!--                <li class="nav-item"><a href="#" class="nav-link">Повышение квалификации</a></li>-->
        <!--                <li class="nav-item"><a href="#" class="nav-link">Публикации</a></li>-->
        <!--            </ul>-->
    </div>
</footer>
</body>
</html>